@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  outline: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  scroll-behavior: smooth;
  transition: 0.1s ;
}

body {
  min-height: 100vh ;
  min-height: 100dvh ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
  z-index: -1;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
}

#root {
  height: 100% ;
  width: 100% ;
  display: flex ;
  align-items: center ;
  justify-content:center;
}

.spinner {
  position: fixed ;
  top: 0 ;
  left: 0 ;
  height: 100vh ;
  width: 100% ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
  background-color: #0000007a ;
  backdrop-filter: blur(10px) ;
  animation: blur 0.5s 1 linear ;
  z-index: 50 ;
}

.spinner span {
  height: 50px ;
  width: 50px ;
  border-radius: 50% ;
  background: linear-gradient(to right bottom , #b804ff 10% , #00c3ff) ;
  position: relative ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
  z-index: 10 ;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite , spinner_scalling 1s infinite linear alternate;
}

.sign_up_form form , .sign_in_form form {
  display: flex ;
  flex-direction: column ;
}

.sign_up_form , .sign_in_form {
  padding: 10px ;
  margin: 10px ;
  border-radius: 10px ;
  background: #33333377 ;
  display: flex ;
  flex-direction: column ;
  backdrop-filter: blur(10px) ;
  width: 400px ;
}

.sign_up_form form .form_group , .sign_in_form form .form_group , .reset_password_message_container form .form_group {
  padding: 7px ;
  border-radius: 7px ;
  margin: 5px ;
  display: flex ;
  flex-direction: column ;
  position: relative ;
}

.sign_up_form form .form_group label , .sign_in_form form .form_group label , .reset_password_message_container form .form_group label {
  display: flex ;
  align-items: center ;
  gap: 5px ;  
}

.sign_up_form form .form_group label .dot , .sign_in_form form .form_group label .dot , .reset_password_message_container form .form_group label .dot {
  height: 15px ;
  width: 15px ;
  border-radius: 50% ;
  background: linear-gradient(to right bottom , #cd4eff5b 20% , #00c3ffb7) ;
}

.sign_up_form form .form_group label p , .sign_in_form form .form_group label p , .reset_password_message_container form .form_group label p {
  color: #888 ;
  /* font-family: cursive ; */
  font-weight: bold ;
}

.sign_up_form form .form_group input , .sign_in_form form .form_group input , .reset_password_message_container form .form_group input {
  all: unset ;
  padding: 7px ;
  color: #999 ;
  border-bottom: 2px solid #939393 ;
  transition: 0.5s ;
  padding-right: 22px ;
  margin-bottom: 5px ;
}

.sign_up_form form .form_group input:focus , .sign_in_form form .form_group input:focus , .reset_password_message_container form .form_group input:focus {
  border-bottom: 2px solid #b804ff ;
}

.sign_up_form form .form_group i , .sign_in_form form .form_group i {
  position: absolute ;
  bottom: 20px ;
  right: 10px ;
  color: #888 ;
  cursor: pointer ;
}

.sign_in_form form .form_group i {
  bottom: 39px ;
}

.sign_in_form form .form_group p.forget_password {
  text-align: end ;
  padding: 2px ;
  font-size: 11px ;
  padding-right: 5px ;
  font-weight: bold ;
  /* font-family: cursive ; */
  color: #888 ;
  cursor: pointer ;
}

.sign_in_form form .form_group p.forget_password:hover  {
  color: #e49fff ;
}


.sign_up_form form .sign_up , .sign_in_form form .sign_in {
  padding: 10px ;
  border-radius: 10px ;
  color: #888 ;
  background: linear-gradient(to right bottom , #3b3b3b5e , #6e6e6e5e) ;
  border: none ;
  margin: 0px 5px ;
  cursor: pointer ;
  position: relative ;
}

.sign_up_form .sign_up:hover {
  color: #fff ;
}

.pop_up_container , .no_connection , .reset_password_message_container {
  position: fixed ;
  height: 100% ;
  width: 100% ;
  top: 0 ;
  left: 0 ;
  background: #0000007a ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
  backdrop-filter: blur(10px) ;
  animation: blur 0.5s 1 linear ;
}

.pop_up_container {
  z-index: 100 ;
}

.pop_up_container .content , .no_connection .content , .reset_password_message_container form {
  display: flex ;
  flex-direction: column ;
  background: #222 ;
  border-radius: 10px ; 
  width: 400px ;
  min-width: 280px ;
  margin: 10px ;
}

.no_connection .content {
  align-items: center ;
  color: #888 ;
  padding: 10px ;
  margin: 20px ;
  background: linear-gradient(to right bottom , #5f5f5f33 , #5f5f5fa2) ;
  padding-bottom: 15px ;
}

.reset_password_message_container form , .reset_password_message_container form .form_group {
  display: flex ;
  flex-direction: column ;
}

.reset_password_message_container form .title , .top_10_users .title , .contact_with_me .title , .next_quiz_after .title , .chat_container .title {
  padding: 10px ;
  border-bottom: 2px solid #777 ;
  color: #777 ;
  text-align: center ;
  position: relative ;
}

.no_connection .content i {
  font-size: 50px ;
}

.no_connection .content p {
  text-align: center ;
  /* font-family: cursive ; */
  font-weight: bold ;
}

.no_connection {
  z-index: 200 ;
  top: 0 ;
  left: 0 ;
}

.pop_up_container .content .title {
  color: #444 ;
  border-bottom: 2px solid #444 ;
  padding: 10px ;
  text-align: center ;
  /* font-family: cursive ; */
  font-weight: bold ;
}

.pop_up_container .content .message {
  text-align: center ;
  /* font-family: cursive ; */
  font-weight: bold ;
  padding: 10px 20px 0px 20px ;
  color: #888 ;
}

.pop_up_container .content button , .reset_password_message_container form .buttons button {
  all: unset ;
  margin: 10px ;
  padding: 7px 15px ;
  border-radius: 100px ;
  text-align: center ;
  font-weight: bold ;
  /* font-family: cursive ; */
  background: #ff3030a9 ;
  color: #222 ;
  cursor: pointer ;
  font-size: 12px ;
  align-self: flex-end ;
}

.pop_up_container .content button:hover , .reset_password_message_container form .buttons button:hover {
  background-color: #ff3030e5 ;
}

.account_state {
  display: flex ;
  align-items: center ;
  justify-content: center ;
  color: #888 ;
  /* font-family: cursive ; */
  margin-top: 5px ;
}

.account_state button {
  all: unset ;
  color: #52c7f1 ;
  transition: 0s ;
  margin-left: 2px ;
  cursor: pointer ;
}

.account_state button:hover {
  color: #23a6d5 ;
  text-decoration: underline ; 
}

.reset_password_message_container form .buttons {
  display: flex ;
  margin-top: 5px ;
  gap: 5px ;
}

.reset_password_message_container form {
  background-color: #3a3a3a99 ;
}

.reset_password_message_container form .buttons button:first-child {
  flex: 1 ;
  background-color: #23a5d5a4 ;
}

.reset_password_message_container form .buttons button:first-child:hover {
  background-color: #23a5d5d0 ;
}

.reset_password_message_container form .buttons button {
  margin: 0 ;
  position: static ;
}

.main_page {
  flex: 1 ;
  height: 100% ;
  display: flex ;
  flex-direction: column ;
  position: relative ;
}

.main_page .top {
  border-radius: 0px 0px 20px 20px ;
  background-color: #eeeeeecb ;
  box-shadow: 0px 0px 10px #00000033 ;
  display: flex ;
  flex-direction: column ;
  position: sticky ;
  top: -5px ;
  backdrop-filter: blur(10px) ;
  z-index: 2 ;
}

.main_page .top .hello_message {
  text-align: center ;
  font-weight: bold ;
  color: #888 ;
  padding: 10px 15px ;
  border-bottom: 2px solid #eeeeeecb ;
  display: flex ;
  align-items: center ;
  justify-content: space-between ;
}

.main_page .top .hello_message button {
  color: #fff ;
  padding: 5px 14px ;
  border: none ;
  cursor: pointer ;
  background: #f05 ;
  transition: 0.5s ;
  border-radius: 7px ;
}

.main_page .top .hello_message button:hover {
  background: #f00 ;
}

.main_page .top .items {
  display: flex ;
  align-items: center ;
  justify-content: space-evenly ;
  overflow: auto ;
  padding: 5px ;
}

.main_page .top .items div.container_p {
  display: flex ;
  padding: 5px ;
  border-radius: 10px ;
  background: #eeeeeecb ;
  align-items: center ;
  margin: 5px ;
  gap: 5px ;
  border: 2px solid #fff ;
  font-weight: bold ;
  /* font-family: cursive ; */
  color: #888 ; 
}

.main_page .top .items div.container_p p {
  padding: 0px 5px ;
  border-radius: 5px ;
  background-color: #23a6d5 ;
  color: #fff ;
  user-select: none ;
}

.main_page .top .items div.container_p p.ended {
  background: #f05 ;
}

.chat_button {
  display: flex ;
  flex-direction: column ;
  margin-top: 5px ;
  margin-bottom: 10px ;
}

.chat_button button {
  all: unset ;
  display: flex ;
  align-items: center ;
  justify-content: space-between ;
  padding: 10px ;
  border-radius: 10px ;
  background-color: #eeeeeecb ;
  cursor: pointer ;
  margin: 5px 10px ;
  font-weight: bold ;
  color: #555 ;
  transition: color 0.2s ;
}

.chat_button button.start_quiz_button:hover {
  color: #fff ;
  background: linear-gradient(to right , #eeeeeecb , #0b0) ;
  background-size: 100% 100% ;
  animation: backgroundAnimation 0.5s 1 ease ;
}

.top_10_users {
  display: flex ;
  flex-direction: column ;
  margin: 10px ;
  border-radius: 10px ;
  background-color: #eeeeeecb ;
  margin-top: 0 ;
  z-index: 1 ;
}

.top_10_users .title , .contact_with_me .title , .next_quiz_after .title , .chat_container .title {
  border-bottom: 2px solid #888 ;
  font-weight: bold ;
}

.top_10_users .users {
  display: flex ;
  flex-direction: column ;
  margin-top: 5px ;
}

.top_10_users .users .user {
  display: flex ;
  align-items: center ;
  justify-content: space-between ;
  padding: 10px ;
  border-radius: 10px ;
  background: #eeeeeecb ;
  margin: 5px 10px ;
  border: 2px solid #fff ;
  cursor: pointer ;
}

.top_10_users .user .left_side {
  display: flex ;
  align-items: center ;
  gap: 5px ;
  font-weight: bold ;
  color: #666 ;
}

.top_10_users .user:first-child {
  background: #fff ;
  color: #eaee00 ;
  position: relative ;
  border: none ;
}

.top_10_users .user:first-child .left_side {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  color: transparent ;
  background-clip: text ;
  -webkit-background-clip: text ;
}

.top_10_users .user:nth-child(2) {
  border: 2px solid #b804ffa1 ;
  background: #ffffffd8 ;
}

.top_10_users .user:nth-child(2) .left_side {
  color: #b804ffa1 ;
}

.top_10_users .user:nth-child(3) {
  border: 2px solid #00c3ffaf ;
  color: #00c3ffaf ;
  background: #ffffffbd ;
}

.top_10_users .user:nth-child(3) .left_side {
  color: #00c3ffaf ;
}

.top_10_users .user:first-child::after {
  content: '';
  height: 100% ;
  width: 100% ;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  position: absolute ;
  top: -2px ;
  left: -2px ;
  padding: 2px ;
  border-radius: 12px ;
  z-index: -1 ;

}

.top_10_users .user .score {
  padding: 0px 6px 0px 5px ;
  color: #fff ;
  background: #00c3ff ;
  border-radius: 5px ;
}

.top_10_users button.show_all_users {
  padding: 10px ;
  background: #eeeeeecb ;
  border: none ;
  border-radius: 10px ;
  color: #888 ;
  margin: 5px 10px 10px 10px ;
  cursor: pointer ;
  font-weight: bold ;
}

.contact_with_me {
  margin: 10px ;
  margin-top: 0 ;
  border-radius: 10px ;
  background-color: #eeeeeecb ;
  display: flex ;
  flex-direction: column ;
  grid-column: 2/4 ;
  grid-row: 1/2 ;
}

.contact_with_me .content {
  display: flex ;
  flex-direction: column ;
  padding: 10px ;
  align-items: center ;
  border-radius: 10px ;
  background: #eeeeeecb ;
  margin: 10px ;
  cursor: pointer ;
}

.contact_with_me .content .email {
  font-weight: bold ;
  color: #666 ;
  font-size: 18px ;
}

.contact_with_me .content .click_message {
  font-size: 12px ;
  color: #666 ;
  margin-top: 5px ;
}

.next_quiz_after {
  margin: 10px ;
  margin-top: 0px ;
  border-radius: 10px ;
  background-color: #eeeeeecb ;
  display: flex ;
  flex-direction: column ; 
  z-index: 1 ;
  grid-row: 1/3 ;
}

.next_quiz_after .time {
  padding: 20px ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
}

.next_quiz_after .time .content {
  padding: 10px ;
  border-radius: 50% ;
  height: 150px ;
  width: 150px ;
  background: #eee ;
  display: flex ;
  flex-direction: column ;
  align-items: center ;
  justify-content: center ;
  gap: 10px ;
  text-align: center ;
  font-weight: bold ;
  color: #666 ;
  position: relative ;
}

.next_quiz_after .time .content::after {
  content: '';
  position: absolute ;
  height: 100% ;
  width: 100% ;
  background: #00c3ff ;
  z-index: -1 ;
  border-radius: 50% ;
  animation: resizing_border 0.7s infinite ease-out ;
}

footer {
  display: flex ;
  align-items: center ;
  justify-content: center ;
  padding: 10px ;
  background: #eeeeeecb ;
  color: #666 ;
  border-top: 2px solid #fff ;
}

.chat_container {
  position: fixed ;
  top: 0 ;
  left: 0 ;
  height: 100% ;
  width: 100% ;
  background: #fff ;
  display: flex ;
  flex-direction: column ;
  z-index: 5 ;
  animation: showChatAnimation 0.2s 1 ease;
}

.chat_container img {
  position: fixed ;
  height: 100% ;
  width: 100% ;
  object-fit: cover ;
  z-index: -1 ;
}

.chat_container .messages {
  display: flex ;
  flex-direction: column ;
  overflow: auto ;
  scrollbar-width: none ;
  position: relative ;
  flex: 1 ;
}

.chat_container .messages .message {
  display: flex ;
  align-items: center ;
  justify-content: flex-start ;
  padding: 10px ;
}

.chat_container .messages .message .content {
  display: flex ;
  flex-direction: column ;
  max-width: 90% ;
}

.chat_container .messages .message_content {
  background: #eeeeeecb ;
  border-radius: 5px ;
  display: flex ;
  align-items: center ;
  justify-content: space-between ;
  min-width: 150px ;
  padding-left: 10px ;
}

.chat_container .messages .message_content i {
  color: #f00 ;
  cursor: pointer ;
  background: #eeeeeecb ;
  position: relative ;
  padding: 10px ;
  border-radius: 5px 5px 5px 0px ;
  align-self: flex-end ;
}

.chat_container .messages .message.me .message_text {
  padding: 5px ;
}

.chat_container .messages .message.user .message_content {
  background: none ;
  padding: 0px 0px 0px 10px ;
}

.chat_container .messages .message.user {
  display: flex ;
  align-items: center ;
  justify-content: flex-end ;
}

.chat_container .messages .message.user .content {
  background: #ffffffcb ;
  color: #000 ;
  padding: 5px ;
  border-radius: 10px ;
}

.chat_container .messages .message.user.no_image .content {
  background: #eeeeeecb ;
}

.chat_container .messages .message.user .content .from {
  color: #ae00ff ;
  font-size: 12px ;
  padding: 0px 5px 0px 5px ;
}

.send_message_content {
  display: flex ;
  border-top: 2px solid #888 ;
}

.send_message_content input {
  all: unset ;
  padding: 10px ;
  flex: 1 ;
  background: #eeeeeecb ;
  margin: 5px ;
  border-radius: 5px 0px 0px 5px ;
  margin-right: 0 ;
}

.send_message_content button {
  all: unset ;
  font-size: 30px ;
  cursor: pointer ;
  width: 40px ;
  text-align: center ;
  background: #ffffff88 ;
  font-weight: bold ;
  color: #fff ;
  margin: 5px ;
  border-radius: 0px 5px 5px 0px ;
  margin-left: 0 ;
  display: flex ;
  align-items: center ;
  justify-content: center ; 
}

.send_message_content button span {
  height: 25px ;
  width: 25px ;
  border-radius: 50% ;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  animation: gradient 5s ease infinite , spinner_scalling 1s ease infinite alternate;
}

.send_message_content button.no_image {
  background-color: #eeeeeecb ;
  color: #666 ;
  border-left: 2px solid #fff ;
}

.chat_container .title i.leave_chat {
  position: absolute ;
  top: 0 ;
  left: 0 ;
  padding: 8px 11px ;
  background: #ffffff44 ; 
  font-size: 20px ;
  cursor: pointer ;
  color: #fff ;
}

.chat_container .title i.leave_chat.no_image {
  background: #eeeeeecb ;
  color: #666 ;
}

.chat_container.leaveChatAnimation {
  animation: leaveChat 0.2s 1 ease ;
}

.main_page .bottom_content {
  display: grid ;
  grid-template-columns: repeat(3 , 1fr) ;
  grid-template-rows: repeat(2 , 130px) ;
}

.contact_with_me:has(.links) {
  grid-row: 2/3 ;
}

.contact_with_me .links {
  display: flex ;
  flex: 1 ;
  align-items: center ;
  justify-content: space-evenly ;
  padding: 10px ;
}

.contact_with_me .links a {
  text-decoration: none ;
}

.contact_with_me .links i {
  color: #555 ;
  cursor: pointer ;
  font-size: 18px ;
  transition: 0.5s ;
  position: relative ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
  z-index: 2 ;
}

.contact_with_me .links i:hover::after {
  content: attr(data-name) ;
  position: absolute ;
  top: -35px ;
  padding: 5px ;
  border-radius: 5px ;
  background: #eeeeeecb ;
  color: #555 ;
  animation: go_up 0.5s 1 ease ;
  z-index: 1 ;
}

.contact_with_me .links i:hover {
  color: #111 ;
}

.quiz_page_container {
  height: 100dvh ; 
  flex: 1 ;
  display: flex ;
  flex-direction: column ; 
  justify-content: space-between ;
}

.quiz_page_container .header {
  padding: 10px ;
  margin: 10px ;
  border-radius: 10px ;
  display: flex ;
  align-items: center ;
  background: #eeeeeecb ;
}

.quiz_page_container .header .content {
  flex: 1 ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
  gap: 10px ;
  border-right: 2px solid #fff ;
  color: #555 ;
  font-family: "Chakra Petch", sans-serif;
}

.quiz_page_container .question_container {
  display: flex ;
  flex-direction: column ;
}

.quiz_page_container .question_container .content {
  display: flex ;
  flex-direction: column ;
  align-items: center ;
  gap: 10px ;
}

.quiz_page_container .question_container .question {
  padding: 10px 0px ;
  border-radius: 10px ;
  background: #eeeeeecb ;
  color: #555 ;
  font-weight: bold ;
  text-align: center ;
  width: 70% ;
  min-width: 280px ;
}

.quiz_page_container .question_container .question p {
  padding: 0px 5px ;
}

.quiz_page_container .question_container .answers {
  display: flex ;
  flex-direction: column ;
  padding: 0px ;
  border-radius: 10px ;
  background: #eeeeeecb ;
  width: 70% ;
  min-width: 280px ;
  overflow: hidden ;
}

.quiz_page_container .question_container .answers .answer {
  all: unset ;
  padding: 10px ;
  border-bottom: 2px solid #fff ;
  text-align: center ;
  color: #555 ;
  cursor: pointer ;
  font-weight: bold ;
}

.quiz_page_container .question_container .answers .answer:hover {
  background: #ffffff77 ;
}

.quiz_page_container .header .content:last-child , .quiz_page_container .question_container .answers .answer:last-child {
  border: none ; 
}

.controls_container {
  display: flex ;
  align-items: center ;
  justify-content: space-between ;
  padding: 10px ;
  border-radius: 10px ;
  background: #eeeeeecb ; 
  margin: 10px ;
}

.controls_container button {
  all: unset ;
  padding: 7px 15px ;
  border-radius: 10px ;
  cursor: pointer ;
  background: #eeeeeecb ;
  color: #555 ;
  font-weight: bold ;
  font-family: "Chakra Petch", sans-serif;
}

.controls_container button:disabled {
  background: #ffffff77 ;
  color: #888 ;
  cursor: not-allowed ;
}

.controls_container button:hover:not(:disabled) {
  background-color: #ffffffc4 ;
}

@keyframes backgroundAnimation {
    0% {
      background-size: 400% 100% ;
    }

    100% {
      background-size: 100% 100% ;
    }
}

@keyframes go_up {
  from {
    top: -10px ;
    opacity: 0.5 ;
  }

  to {
    top: -35px ;
    opacity: 1 ;
  }
}

@keyframes leaveChat {
  from {
    left: 0% ;
  }

  to {
    left: -100% ;
  }
}

@keyframes showChatAnimation {
  0% {
    left: -100% ;
  }

  100% {
    left: 0% ;
  }
}

@keyframes resizing_border {
  0% {
    padding: 0 ;
    opacity: 1 ;
  }

  100% {
    padding: 15px ;
    opacity: 0.2 ;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes blur {
  0% {
    backdrop-filter: blur(1px) ;
  }

  100% {
    backdrop-filter: blur(10px) ;
  }
}

@keyframes spinner-backward {
  0% {
    rotate: 0deg ;
  }

  100% {
    rotate: -360deg ;
  }
}

@keyframes spinner_scalling {
  0% {
    scale: 1 ;
  }

  100% {
    scale: 1.20 ;
  }
}

@media screen and (max-width:544px) {
  .main_page .bottom_content {
    grid-template-columns: repeat(2 , 1fr) ;
    grid-template-rows: repeat(3 , 130px) ;
  }
  .main_page .bottom_content .next_quiz_after {
    grid-column: 1/-1 ;
  }
  .main_page .bottom_content .contact_with_me {
    grid-row: 3/4 ;
    grid-column: 1/2 ;
  }
  .main_page .bottom_content .contact_with_me:has(.links) {
    grid-column: 2/-1 ;
  }
}

@media screen and (max-width:450px) {
  .main_page .bottom_content {
    grid-template-columns: 100% ;
    grid-template-rows: repeat(4 , 130px) ;
  }

  .main_page .bottom_content .next_quiz_after {
    grid-column: 1/2 ;
  }

  .main_page .bottom_content .contact_with_me:has(.links) {
    grid-column: 1/2 ;
    grid-row: 4/5 ;
  }
}

@media screen and (max-width:440px) {
  .quiz_page_container .header .content.website_name {
    display: none ;
  }
}

/* 

    // useEffect(() => {
    //     try {
    //         fetch(process.env.FETCH_QUESTIONS).then((res) => {
    //             return res.json();
    //         }).then((data) => {
    //             setQuestions(data.data);
    //         })
    //     } catch (error) {
    //         console.error("Error fetching quiz questions:", error);
    //     }
    // }, [])*/